.link {
  color: black;
}

a.up {
  color: blue;
}

a.up:after,
a.more:after,
a.back:after,
a.down:after {
  content: " ";
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}

a.up:after {
  width: 15px;
  height: 10px;
  margin-left: 10px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjEuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjcuNXB4IiB2aWV3Qm94PSIwIDAgMTMgNy41IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMyA3LjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IgoJMTIsNi41IDYuNSwxIDEsNi41ICIvPgo8L3N2Zz4K') transparent 0 0 no-repeat;
}
